@charset "UTF-8";

.content-wrapper{
	margin-top: 25px;
}
.panel-default {
    border-color: #ddd;
}
/* nav */
.category-filter-wrapper {
    margin-top: 20px;
}
.btn.btn-wide {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}
.category-filter-query {
    width: 50%;
}
.list-sort {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 5px;
}
.list-sort li {
    float: left;
    margin-right: 20px;
}
.list-sort li > a {
    color: #bbb;
    font-size: 12px;
}
.list-sort li > a.active {
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}
.list-group-has-note {
    border-left: 3px #3a93de solid !important;
}


/* board */
.list-group-has-note {
	border-left: 3px #3a93de solid !important;
}

.list-group-no-note {
	border-left: 3px #ddd solid !important;
}
.list-summary-wrapper {
    float: left;	
}
.list-sort .active {
	color: #555;
    font-weight: bold;
    text-decoration: underline;
}
.list-title-wrap {
    float: left;
    width: 450px;
    margin-right: 10px;
}
.list-group-item-summary .item-icon {
    font-size: 12px;
    vertical-align: middle;
}
.avatar-list .avatar-photo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.avatar-photo {
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.label {
    font-weight: normal !important;
}
