@charset "UTF-8";

.content-wrapper{
	margin-top: 25px;
}
.panel-default {
    border-color: #ddd;
}
.commented {
	border-left: 3px #3A93DE solid !important;
}

.uncommented {
	border-left: 3px #ddd solid !important;
}

/* nav */
.category-filter-wrapper {
    margin-top: 20px;
}
.btn.btn-wide {
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}
.category-filter-query {
    width: 50%;
}
.list-sort {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 5px;
}
.list-sort li {
    float: left;
    margin-right: 20px;
}
.list-sort li > a {
    color: #bbb;
    font-size: 12px;
}
.list-sort li > a.active {
    color: #555;
    font-weight: bold;
    text-decoration: underline;
}
.list-group-has-note {
    border-left: 3px #3a93de solid !important;
}



/* board */
.list-group-has-note {
	border-left: 3px #3a93de solid !important;
}

.list-group-no-note {
	border-left: 3px #ddd solid !important;
}
.list-summary-wrapper {
    float: left;	
}
.list-sort .active {
	color: #555;
    font-weight: bold;
    text-decoration: underline;
}
.list-title-wrap {
    float: left;
    width: 450px;
    margin-right: 10px;
}
.list-group-item-summary .item-icon {
    font-size: 12px;
    vertical-align: middle;
}
.avatar-list .avatar-photo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}
.avatar-photo {
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.label {
    font-weight: normal !important;
}
.list-group-item {
    padding: 6px 10px !important;
}
.list-group-item-author {
    margin-top: 2px;
    width: 180px;
    float: right;
}
.company-logo {
	display: inline-block;
	vertical-align: middle; 
	border: 1px solid #ededed;
	overflow: hidden;
	width: 32px;
	height: 32px;
    margin-right: 5px;
}
.location {
	font-size: 8px;
}
.qna-selected-wrapper {
	background-color: #2ca526;
    color: #fff;
    width: 55px !important;
}
.qna-deselected-wrapper {
	background-color: #3a93de;
    color: #fff;
    width: 55px !important;
}
.qna-no-comment-wrapper {
    background: none;
    color: #df5925;
    width: 55px !important;
}
.list-evaluate {
	display: inline-block;
    padding: 5px 0;
    width: 20px;
    text-align: center;
}
.qna-list-evaluate {
	font-size: 18px !important;

}


@media ( max-width : 768px) {
	.list-title-wrap {
		width: auto;
	}
	.list-summary-wrapper {
		display: none;
	}
}

