@charset "UTF-8";

.answer-count {
	padding: 5px 10px;
}

.answer-selected {
	color: white;
	background-color: 3A93DE;
}

.answer-non-selected {
	color: white;
	background-color: 2CA526;
}

.answer-no-comment {
	color: DF5925;
}

.list-group-has-note {
	border-left: 3px #3a93de solid !important;
}

.list-group-no-note {
	border-left: 3px #ddd solid !important;
}

.mem-logo {
	display: inline-block;
	vertical-align: middle; 
	border: 1px solid #ededed;
	overflow: hidden;
	width: 32px;
	height: 32px;
    margin-right: 5px;
    border-radius: 50%;
}

.qna-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.6em;
	font-weight: bord;
	margin: 0;
	padding: 0;
}

.qna-selected {
	padding: 0px 10px;
	color: #FFF;
	background-color: #2CA526;
}

.qna-deselected {
	padding: 0px 10px;
	color: #FFF;
	background-color: #3A93DE;
}

.qna-no-comment {
	padding: 0px 10px;
	color: #DF5925;
	background-color: none;
}

.commented {
	border-left: 3px #3A93DE solid !important;
}

.uncommented {
	border-left: 3px #ddd solid !important;
}
