@charset "UTF-8";

  .main-block {
    margin-bottom: 30px;
  }
  .main-header {
    font-size: 14px;
    color: #56595c;
  }
  .main-header > i {
    color: #0062b6;
    font-size: 14px;
    line-height: 20px;
  }
  .panel-body{
    padding: 15px;
  }
  .panel-default{
    border-color: #ddd;
  }
  .avatar-photo{
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 50%;
    overflow: hidden;
  }
  .avatar-big .avatar-photo {
    vertical-align: top;
    width: 152px;
    height: 152px;
  }
  .list-icon-wrapper {
    font-size: 20px;
    padding: 0 10px 0 0;
    color: #ccc;
    width: 45px;
    height: 40px;
    text-align: center;
  }
  .pull-left {
    float: left !important;
  }
  .pull-right {
    float: right !important;
}
  .list-activity-desc {
    margin-bottom: 5px;
  }
  .list-activity-desc-text {
    font-size: 12px;
    color: #999;
  }
  .date{
    display: inline-block;
    color: #ccc;
    font-size: 10px;
  }
  .main-block-left {
    padding-left: 0;
  }
  .main-block-right {
    padding-right: 0;
  }
  .list-group-item-author {
    margin-top: 2px;
  }
  .avatar-x-small .avatar-photo {
    vertical-align: middle;
    width: 12px;
    height: 12px;
  }
  .avatar-info {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar-x-small .nickname {
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
  }
  .avatar-x-small .nickname {
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
  }
  .avatar-photo img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .avatar-info .activity {
    color: #999999;
    display: inline-block;
    font-size: 10px;
    margin-right: 10px;
  }
  .list-group-has-note {
    border-left: 3px #3a93de solid !important;
  }
  .list-group-no-note {
    border-left: 3px #ddd solid !important;
  }
  .list-group-item {
    padding: 6px 10px !important;
  }
  .list-group-item-heading {
    line-height: 1.2em;
    font-size: 12px;
    color: #1a446b;
    font-weight: normal;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    word-break: break-all;
  }
  .main-header > a > i {
    vertical-align: middle !important;
    color: #888;
  }
  .article-middle-block {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  .article-middle-block:first-of-type {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  .article-middle-block .list-tag {
    width: 100%;
    height: 19px;
    overflow: hidden;
    line-height: 20px;
  }
  .list-tag {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    font-weight: normal !important;
  }
  .list-tag + h5 {
    margin-bottom: 0px;
  }
  .label-gray {
    background-color: #bbb;
  }
  .main-block-desc a{
    color: #888;
    font-size: 12px;
    word-break: break-all;
  }
  .list-tag + h5 + p{
    margin: 10px 0 10px;
    text-indent: 0.5em;
  }
  .etc {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: 1.2em;
	height: 4.8em;
}

